openapi: 3.0.0
info:
  description: "### About Infrastructure API\n\n**Base URL:** **<u>https://api.emma.ms/external</u>**\n\
    \n This **Infrastructure API** is for managing the emma cloud infrastructure within\
    \ a project. The API enables you to view, create, edit, and delete _Virtual machines,\
    \ Spot instances, Applications, Kubernetes clusters, SSH keys, Security groups,\
    \ and Backup policies_. For creating the resources you can use the endpoints with\
    \ the dictionaries: _Data centers, Locations, Providers, Operating systems, Virtual\
    \ machines configurations, Spot instances configurations, Kubernetes clusters\
    \ configurations._\n\n ### Authentication\n\n #### 1. Create service application\n\
    \n To access the API, enter your project, navigate to **Settings** > **Service\
    \ Apps**, and create a service application. Select the access level **Read**,\
    \ **Operate**, or **Manage**.\n\n - **Read** - only GET methods are allowed in\
    \ the API.\n\n - **Operate** - some operations are allowed with the resources\
    \ (e.g. _Start, Reboot,_ and _Shutdown_ of the Virtual machines).\n\n - **Manage**\
    \ - full creating, updating, and deleting of the resources is allowed.\n\n\n ####\
    \ 2. Get access token\n\n - Copy the **Client ID** and **Client Secret** in the\
    \ service application.\n - Send an API request to the endpoint **/issue-token**\
    \ as specified in the **Authentication** section of the API documentation. You\
    \ will receive access and refresh tokens in the response.\n\n _For Linux / Mac:_\n\
    \ ```\n curl -X POST https://api.emma.ms/external/v1/issue-token \\\n -H \"Content-Type:\
    \ application/json\" \\\n -d '{\"clientId\": \"YOUR-CLIENT-ID\", \"clientSecret\"\
    : \"YOUR-CLIENT-SECRET\"}'\n ```\n _For Windows:_\n ```\n curl -X POST https://api.emma.ms/external/v1/issue-token\
    \ ^\n -H \"Content-Type: application/json\" ^\n -d \"{\\\"clientId\\\": \\\"YOUR-CLIENT-ID\\\
    \", \\\"clientSecret\\\": \\\"YOUR-CLIENT-SECRET\\\"}\"\n ```\n\n #### 3. Use\
    \ access token in requests\n The Bearer access token is a text string, included\
    \ in the request header, for example:\n\n _For Linux / Mac:_\n ```\n curl -X GET\
    \ https://api.emma.ms/external/v1/locations -H \"Authorization: Bearer YOUR-ACCESS-TOKEN-HERE\"\
    \n ```\n\n Use this token for the API requests. \n\n #### 4. Refresh token\n The\
    \ access token will expire in 10 minutes. A new access token may be created using\
    \ the refresh token (without Client ID and Client Secret).\n\n To get a new access\
    \ token send a request to the **/refresh-token** endpoint:\n\n\n _For Linux /\
    \ Mac:_\n ```\n curl -X POST https://api.emma.ms/external/v1/refresh-token \\\n\
    \ -H \"Content-Type: application/json\" \\\n -d '{\"refreshToken\": \"YOUR-REFRESH-TOKEN\"\
    }'\n ```    \n\n ### Possible response status codes\n\n We use standard HTTP response\
    \ codes to show the success or failure of requests.\n\n `2xx` - successful responses.\n\
    \n `4xx` - client error responses (the response contains an explanation of the\
    \ error).\n\n `5xx` - server error responses.\n\n The API uses the following status\
    \ codes:\n\n | Status Code | Description                  | Notes            \
    \                                                      |\n |-------------|------------------------------|------------------------------------------------------------------------|\n\
    \ | 200         | OK                           | The request was successful. \
    \                                            |\n | 201         | Created     \
    \                 | The object was successfully created. This code is only used\
    \ with objects that are created immediately.\n | 204         | No content    \
    \               | A successful request, but there is no additional information\
    \ to send back in the response body (in a case when the object was deleted). \
    \ \n | 400         | Bad Request                  | The request could not be understood\
    \ by the server. Incoming parameters might not be valid. |\n | 401         | Unauthorized\
    \            | The client is unauthenticated. The client must authenticate itself\
    \ to get the requested response. |\n | 403         | Forbidden               \
    \    | The client does not have access rights to the content.\n | 404        \
    \ | Not Found                    | The requested resource is not found.      \
    \                              |\n | 409         | Conflict | This response is\
    \ sent when a request conflicts with the current state of the object (e.g. deleting\
    \ the security group with the compute instances in it).|\n | 422         | Unprocessable\
    \ Content   | The request was well-formed but was unable to be followed due to\
    \ incorrect field values (e.g. creation of a virtual machine in the non-existent\
    \ data center).  |\n | 500         | Internal server Error                 | The\
    \ server could not return the representation due to an internal server error.\
    \ |\n"
  title: Public EMMA API
  version: 1.0.1
servers:
- description: Public EMMA API
  url: https://api.emma.ms/external
tags:
- description: |
    Includes two endpoints for obtaining access tokens for authentication in the current API. The first endpoint enables you to get an access token and a refresh token. To send a request, you first need to create a Service application in your project (in the Settings section). After creating the application, you will get a Client ID and a Client Secret. Use them in your API request body to get the access and refresh tokens.

    The second endpoint is used for getting a new access token using the refresh token. Since the access token can expire in a few minutes, you can generate a new access token without providing the Client ID and Client Secret.
  name: Authentication
- description: |
    When creating virtual machines, spot instances, or Kubernetes clusters, you need to provide the desired hardware configurations. These configurations include CPU, CPU type, RAM, volume size, and volume type. Different cloud providers offer various configurations in different data centers. Therefore, before creating any compute instance, you need to verify the available configurations.

    Use these three endpoints as references for available configurations for virtual machines, spot instances, and Kubernetes clusters. You can search the available configurations by different parameters (provider, location, data center, cloud network type, CPU, CPU type, RAM, volume size, volume type, and price).

    When you find an appropriate configuration, provide the hardware parameters in the endpoint for creating or editing a virtual machine, spot instance, or Kubernetes cluster.
  name: Compute instances configurations
- description: |
    Data centers from cloud providers. The data center ID is necessary for creating compute instances. Use data center endpoints to find the provider's data centers.
  name: Data centers
- description: |
    Provides a comprehensive suite of endpoints for managing Kubernetes clusters within the project. This includes creating, retrieving, updating, and deleting Kubernetes clusters.
  name: Kubernetes clusters
- description: |
    Geographic locations of the provider's data centers. These endpoints provide the ID and name of each geographic location. Use the retrieved location ID for searching data centers.
  name: Locations
- description: |
    Operating systems of compute instances supported by the cloud providers. Endpoints provide detailed information about each operating system, including its family, type, version, and architecture. The operating system ID is necessary when creating virtual machines and spot instances.
  name: Operating systems
- description: |
    Cloud service provider is a third-party company that provides scalable computing resources that users can access over emma platform. When you create any computing resources in emma you create them in the provider's datacenters.
  name: Providers
- description: |
    A security group refers to a set of rules that determine what network traffic is allowed to enter or leave a particular network or system. It acts as a virtual firewall, controlling inbound and outbound traffic based on predefined rules.
    Security groups operate based on predefined rules that allow or deny traffic based on specified criteria, such as source IP address, destination IP address, port number, and protocol. You can create and modify security groups, and add or delete compute instances from the security group.
  name: Security groups
- description: |
    A Spot Instance is a specialized compute instance that allows you to access and utilize unused instance capacity at a steeply discounted rate.  Spot price is charged on an hourly basis.
  name: Spot instances
- description: |
    Provides endpoints for managing SSH keys within the project. These endpoints allow users to create, retrieve, update, and delete SSH keys, facilitating secure access to cloud resources.
    You can only manage the SSH keys created by the current Service application that you use to authenticate to the API. You can't retrieve a list of SSH keys created by other users. You can't use other user's SSH keys when creating compute instances.
  name: SSH keys
- description: |
    The method allows extraction of statistical data from emma's DWH. All queries are predefined; users need to select one and specify additional parameters.
  name: Statistics
- description: |
    Provides endpoints for creating and managing subnetworks at the project level. This feature allows defining IP address ranges for deploying virtual machines within specified subnetworks. Initially available for DigitalOcean and Gcore, it includes additional option for specifying private IP for Gcore virtual machines during deployment.
  name: Subnetworks
- description: |
    Provides a comprehensive set of endpoints for managing virtual machines (VMs) within the project. These endpoints enable users to create, retrieve, update, and delete virtual machines.
  name: Virtual machines
- description: |
    A volume is a block storage resource used by virtual machines to store and retrieve data continuously. The endpoint allows users to increase the storage capacity of existing volumes.
  name: Volumes
- description: |
    Available volume configurations. Use this endpoint to reference configurations for volumes, searchable by the following parameters: provider, location, data center, volume size, and volume type.
  name: Volumes configurations
paths:
  /v1/issue-token:
    post:
      description: |
        Returns an access token and a refresh token for this API. The bearer access token enables you to get access and send requests to the endpoints in this API.

        To get the tokens, you need to send a Client ID and a Client Secret, which you can obtain from the Service application in your project. First, create a Service app in your project (Project -> Settings -> Service apps).

        To manage access rights to the API, select an appropriate access level for your app when creating the service app - **Read**, **Operate,** or **Manage**.

        The Bearer access token is a text string, included in the request header, for example:

        ```
        curl -X GET https://api.emma.ms/external/v1/locations -H "Authorization: Bearer YOUR-ACCESS-TOKEN-HERE"
        ```
      operationId: issueToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Credentials'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad request
      summary: Issue token
      tags:
      - Authentication
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location 'https://api.emma.ms/external/v1/issue-token' \
          --header 'Content-Type: application/json' \
          --header 'Accept: application/json' \
          --data '{
            "clientId": "YOUR-CLIENT-ID",
            "clientSecret": "YOUR-CLIENT-SECRET"
          }'
  /v1/refresh-token:
    post:
      description: |
        Returns an access token for this API using a refresh token. The refresh token enables you to get a new access token (when it is expired) without needing the Client ID and Client Secret. To get the access token, you need to send the refresh token in the payload. You can obtain the refresh token from the `/v1/issue-token` endpoint.
      operationId: refreshToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshToken'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad request
      summary: Refresh token
      tags:
      - Authentication
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location 'https://api.emma.ms/external/v1/refresh-token' \
          --header 'Content-Type: application/json' \
          --header 'Accept: application/json' \
          --data '{
            "refreshToken": "YOUR-REFRESH-TOKEN"
          }'
  /v1/data-centers:
    get:
      description: |
        Returns a list of data centers from cloud providers. All compute instances are created in data centers. The data center ID is necessary for creating any compute instance. Use this endpoint to find the provider's data centers.
      operationId: GetDataCenters
      parameters:
      - description: Name of the cloud provider's data center
        explode: true
        in: query
        name: dataCenterName
        required: false
        schema:
          example: eu-north-1
          type: string
        style: form
      - description: ID of the geographic location
        explode: true
        in: query
        name: locationId
        required: false
        schema:
          example: 6
          type: integer
        style: form
      - description: Name of the cloud provider
        explode: true
        in: query
        name: providerName
        required: false
        schema:
          example: GCP
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DataCenter'
                type: array
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
      security:
      - bearerAuth: []
      summary: Get list of data centers
      tags:
      - Data centers
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location 'https://api.emma.ms/external/v1/data-centers' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN'
  /v1/data-centers/{dataCenterId}:
    get:
      description: |
        Returns a data center from a cloud provider by data center ID. Information on the data center includes its name, provider and location.
      operationId: GetDataCenter
      parameters:
      - description: ID of the cloud provider's data center
        explode: false
        in: path
        name: dataCenterId
        required: true
        schema:
          example: aws-us-west-1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataCenter'
          description: Successful operation
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not found
      security:
      - bearerAuth: []
      summary: Get data center by ID
      tags:
      - Data centers
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location 'https://api.emma.ms/external/v1/data-centers/YOUR-DATA-CENTER-ID' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN'
  /v1/kubernetes:
    get:
      description: |
        Returns a list of created Kubernetes clusters.
      operationId: GetKubernetesClusters
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Kubernetes'
                type: array
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
      security:
      - bearerAuth: []
      summary: Get list of Kubernetes clusters
      tags:
      - Kubernetes clusters
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location 'https://api.emma.ms/external/v1/kubernetes' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN'
    post:
      description: "Creates a Managed Kubernetes cluster. Kubernetes Service provides\
        \ you with the ability to deploy and manage Kubernetes clusters without worrying\
        \ about the setup and maintenance of master nodes. emma takes care of managing\
        \ the Kubernetes control planes, allowing you to focus on deploying and managing\
        \ your applications. You don't need to create master nodes. \n\nWe offer a\
        \ reliable and highly available infrastructure for your cluster, which is\
        \ hosted across three cloud providers: **Amazon Web Services (AWS), Microsoft\
        \ Azure,** and **Google Cloud Platform (GCP)**. The service ensures independence\
        \ from a single cloud provider. You can deploy your cluster across the networks\
        \ of three providers.\n\nCurrently, you can only place clusters in **European**\
        \ and **North American** regions of cloud providers.\n\nWhen creating worker\
        \ nodes, you need to select the appropriate hardware configurations. The configuration\
        \ depends on the provider and the data center. Use the `/v1/kubernetes-configs`\
        \ endpoint to find available configurations for worker nodes.\n\nCluster currently\
        \ supports up to 5 autoscaling groups and a total of 16 worker nodes.\n"
      operationId: CreateKubernetesCluster
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KubernetesCreate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Kubernetes'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
      security:
      - bearerAuth: []
      summary: Create Kubernetes cluster
      tags:
      - Kubernetes clusters
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location 'https://api.emma.ms/external/v1/kubernetes' \
          --header 'Content-Type: application/json' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN' \
          --data '{
            "name": "default-k8s-managed-cluster-name",
            "deploymentLocation": "eu",
            "workerNodes": [
              {
                "name": "default-name",
                "dataCenterId": "europe-west1-d",
                "vCpuType": "shared",
                "vCpu": 2,
                "ramGb": 4,
                "volumeType": "ssd",
                "volumeGb": 16
              }
            ],
            "autoscalingConfigs": [
              {
                "groupName": "nodegroup",
                "dataCenterId": "aws-us-west-1",
                "minimumNodes": 1,
                "maximumNodes": 2,
                "targetNodes": 1,
                "minimumVCpus": 1,
                "maximumVCpus": 5,
                "targetVCpus": 1,
                "nodeGroupPriceLimit": 5,
                "useOnDemandInstancesInsteadOfSpots": true,
                "spotPercent": 50,
                "spotMarkup": 5,
                "configurationPriorities": [
                  {
                    "vCpuType": "shared",
                    "vCpu": 2,
                    "ramGb": 2,
                    "volumeGb": 16,
                    "volumeType": "ssd",
                    "priority": "high"
                  }
                ]
              }
            ]
          }'
  /v1/kubernetes/{kubernetesId}:
    delete:
      description: |
        This method deletes an existing managed Kubernetes cluster. Deleting a cluster will result in the termination of all the worker nodes and the master node that was part of the cluster. All the data stored on the nodes, including the container images, logs, and application data, will also be lost.
      operationId: DeleteKubernetesCluster
      parameters:
      - description: ID of the Kubernetes cluster
        explode: false
        in: path
        name: kubernetesId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Kubernetes'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not found
      security:
      - bearerAuth: []
      summary: Delete Kubernetes cluster
      tags:
      - Kubernetes clusters
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location --request DELETE 'https://api.emma.ms/external/v1/kubernetes/{kubernetesId}' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN'
    get:
      description: |
        Returns a Managed Kubernetes cluster by cluster ID.
      operationId: GetKubernetesCluster
      parameters:
      - description: ID of the Kubernetes cluster
        explode: false
        in: path
        name: kubernetesId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Kubernetes'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not found
      security:
      - bearerAuth: []
      summary: Get Kubernetes cluster by id
      tags:
      - Kubernetes clusters
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location 'https://api.emma.ms/external/v1/kubernetes/{kubernetesId}' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN'
    put:
      description: |
        The method for editing a Managed Kubernetes cluster enables you to delete and add new worker nodes and autoscaling groups, as well as change the settings of existing autoscaling groups. You can only edit a cluster when it is in "ACTIVE" status. To select hardware configurations for worker nodes, use the /v1/kubernetes-configs endpoint.

        When editing a Kubernetes cluster, you can only add or delete worker nodes, but you cannot change the name or configuration of existing worker nodes. If you want to keep a node when editing a cluster, simply specify its ID in the 'workerNodes' object. All other fields in 'workerNodes' are ignored for existing nodes and are not required. If you want to delete a node, remove its ID.

        When you create a new node, all fields in the 'workerNodes' object (except ID) are required. Do not add the ID field for a new node.

        Please note that the spotMarkup field is ignored for the GCP provider.

        When you delete an autoscaling group with existing worker nodes, the worker nodes are also deleted.

        During the changes, the cluster status will change to "ENV_DEVELOPMENT." Nodes undergoing changes will be displayed with a "BUSY" status. When the changes are successfully applied, the cluster will transition back to the "ACTIVE" status, and the nodes will be in the "ON" status.
      operationId: EditKubernetesCluster
      parameters:
      - description: ID of the Kubernetes cluster
        explode: false
        in: path
        name: kubernetesId
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KubernetesUpdate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Kubernetes'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not found
      security:
      - bearerAuth: []
      summary: Edit Kubernetes cluster
      tags:
      - Kubernetes clusters
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location --request PUT 'https://api.emma.ms/external/v1/kubernetes/{kubernetesId}' \
          --header 'Content-Type: application/json' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN' \
          --data '{
            "name": "default-k8s-managed-cluster-name",
            "deploymentLocation": "eu",
            "workerNodes": [
              {
                "id": 18,
                "name": "default-name",
                "dataCenterId": "europe-west1-d",
                "vCpuType": "shared",
                "vCpu": 2,
                "ramGb": 4,
                "volumeType": "ssd",
                "volumeGb": 16
              }
            ],
            "autoscalingConfigs": [
              {
                "groupName": "nodegroup",
                "dataCenterId": "aws-us-west-1",
                "minimumNodes": 1,
                "maximumNodes": 2,
                "targetNodes": 1,
                "minimumVCpus": 1,
                "maximumVCpus": 5,
                "targetVCpus": 1,
                "nodeGroupPriceLimit": 5,
                "useOnDemandInstancesInsteadOfSpots": true,
                "spotPercent": 50,
                "spotMarkup": 5,
                "configurationPriorities": [
                  {
                    "vCpuType": "shared",
                    "vCpu": 2,
                    "ramGb": 2,
                    "volumeGb": 16,
                    "volumeType": "ssd",
                    "priority": "high"
                  }
                ]
              }
            ]
          }'
  /v1/locations:
    get:
      description: |
        Returns a list of geographic locations of the provider's data centers. Locations are cities or states (in the case of the USA). When creating any compute instance, you need to specify a data center. This method helps you find locations with data centers.
      operationId: GetLocations
      parameters:
      - description: Name of the geographic location
        explode: true
        in: query
        name: name
        required: false
        schema:
          example: Stockholm
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Location'
                type: array
          description: Successful operation
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
      security:
      - bearerAuth: []
      summary: Get list of locations
      tags:
      - Locations
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location 'https://api.emma.ms/external/v1/locations' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN'
  /v1/locations/{locationId}:
    get:
      description: |
        Returns a geographic location by its ID. Locations are cities or states (in the case of the USA) where providers have data centers.
      operationId: GetLocation
      parameters:
      - description: ID of the geographic location
        explode: false
        in: path
        name: locationId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
          description: Successful operation
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not found
      security:
      - bearerAuth: []
      summary: Get location by ID
      tags:
      - Locations
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location 'https://api.emma.ms/external/v1/locations/YOUR-LOCATION-ID' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN'
  /v1/operating-systems:
    get:
      description: |
        Returns a list of available operating systems of compute instances supported by the cloud providers. The method provides detailed information about each operating system, including its family, type, version, and architecture. Use this list of the operating systems to find an OS when you create any compute instance.
      operationId: GetOperatingSystems
      parameters:
      - description: Type of the operating system
        explode: true
        in: query
        name: type
        required: false
        schema:
          example: Ubuntu
          type: string
        style: form
      - description: Architecture of the operating system
        explode: true
        in: query
        name: architecture
        required: false
        schema:
          example: x86-64
          type: string
        style: form
      - description: Version of the operating system
        explode: true
        in: query
        name: version
        required: false
        schema:
          example: "18.04"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OperatingSystem'
                type: array
          description: Successful operation
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
      security:
      - bearerAuth: []
      summary: Get list of operating systems
      tags:
      - Operating systems
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location 'https://api.emma.ms/external/v1/operating-systems' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN'
  /v1/operating-systems/{operatingSystemId}:
    get:
      description: |
        Returns an operating system (supported by the cloud providers) by its ID. The method provides detailed information about each operating system, including its family, type, version, and architecture.
      operationId: GetOperatingSystem
      parameters:
      - description: ID of the operating system
        explode: false
        in: path
        name: operatingSystemId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperatingSystem'
          description: Successful operation
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not found
      security:
      - bearerAuth: []
      summary: Get operating system by ID
      tags:
      - Operating systems
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location 'https://api.emma.ms/external/v1/operating-systems/YOUR-OPERATING-SYSTEM-ID' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN'
  /v1/providers:
    get:
      description: |
        Returns a list of cloud providers. Cloud service provider is a third-party company that provides scalable computing resources that users can access over emma platform. When you create any computing resources in emma you create them in the provider's datacenters.
        Provider is necessary when you select a data center for creating compute instances.
      operationId: GetProviders
      parameters:
      - description: Name of the cloud provider
        explode: true
        in: query
        name: providerName
        required: false
        schema:
          example: GCP
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Provider'
                type: array
          description: Successful operation
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
      security:
      - bearerAuth: []
      summary: Get list of cloud providers
      tags:
      - Providers
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location 'https://api.emma.ms/external/v1/providers?providerName=%3Cstring%3E' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN'
  /v1/providers/{providerId}:
    get:
      description: |
        Returns a cloud provider by provider ID. Cloud service provider is a third-party company that provides scalable computing resources that users can access over emma platform.
        Provider is necessary when you select a data center for creating compute instances.
      operationId: GetProvider
      parameters:
      - description: ID of the cloud provider
        explode: false
        in: path
        name: providerId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
          description: Successful operation
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not found
      security:
      - bearerAuth: []
      summary: Get cloud provider by ID
      tags:
      - Providers
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location 'https://api.emma.ms/external/v1/providers/{providerId}' \
          --header 'Accept: application/json'
  /v1/security-groups:
    get:
      description: |
        Returns a list of security groups.
        A security group refers to a set of rules that determine what network traffic is allowed to enter or leave a particular compute instance. It acts as a virtual firewall, controlling inbound and outbound traffic based on predefined rules.
        Security groups operate based on predefined rules that allow or deny traffic based on specified criteria, such as source IP address, destination IP address, port number, and protocol.
      operationId: GetSecurityGroups
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SecurityGroup'
                type: array
          description: Successful operation
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not found
      security:
      - bearerAuth: []
      summary: Get list of security groups
      tags:
      - Security groups
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location 'https://api.emma.ms/external/v1/security-groups' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN'
    post:
      description: |
        This method creates a security group.

        A security group refers to a set of rules that determine what network traffic is allowed to enter or leave a particular compute instance. It acts as a virtual firewall, controlling inbound and outbound traffic based on predefined rules.

        Security groups operate based on predefined rules that allow traffic based on specified criteria, such as source IP address, destination IP address, port number, and protocol.

        When creating a security group, provide its name and a set of inbound and outbound rules. You can only define rules that allow traffic, not deny it. All traffic is denied except for explicitly allowed traffic.

        Security groups control TCP, SCTP, GRE, ESP, AH, UDP, and ICMP protocols, or all the selected protocols at once.

        After creating a security group, a set of default rules is added to the security group. These rules are immutable, and you can't edit or delete them.

        All traffic in the selected protocol is allowed if the IP range in a rule is set to `0.0.0.0/0`.
      operationId: SecurityGroupCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityGroupRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityGroup'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not found
      security:
      - bearerAuth: []
      summary: Create security group
      tags:
      - Security groups
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location 'https://api.emma.ms/external/v1/security-groups' \
          --header 'Content-Type: application/json' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN' \
          --data '{
            "name": "new_default",
            "rules": [
              {
                "direction": "INBOUND",
                "protocol": "TCP",
                "ports": "1-30321",
                "ipRange": "0.0.0.0/0"
              }
            ]
          }'
  /v1/security-groups/{securityGroupId}:
    delete:
      description: |
        This method deletes a security group.

        A security group refers to a set of rules that determine what network traffic is allowed to enter or leave a particular compute instance. It acts as a virtual firewall, controlling inbound and outbound traffic based on predefined rules.

        Security groups operate based on predefined rules that allow traffic based on specified criteria, such as source IP address, destination IP address, port number, and protocol.

        You can't delete a security group if any compute instance is using this security group. To delete a security group, first remove a compute instance from the security group using this method: `POST /v1/security-groups/{securityGroupId}/instances`
      operationId: SecurityGroupDelete
      parameters:
      - description: ID of the security group
        explode: false
        in: path
        name: securityGroupId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityGroup'
          description: Successful operation
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictError'
          description: Conflict
      security:
      - bearerAuth: []
      summary: Delete security group
      tags:
      - Security groups
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location --request DELETE 'https://api.emma.ms/external/v1/security-groups/{securityGroupId}' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN'
    get:
      description: |
        Returns a security group by its ID.

        A security group refers to a set of rules that determine what network traffic is allowed to enter or leave a particular compute instance. It acts as a virtual firewall, controlling inbound and outbound traffic based on predefined rules.

        Security groups operate based on predefined rules that allow or deny traffic based on specified criteria, such as source IP address, destination IP address, port number, and protocol.
      operationId: GetSecurityGroup
      parameters:
      - description: ID of the security group
        explode: false
        in: path
        name: securityGroupId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityGroup'
          description: Successful operation
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not found
      security:
      - bearerAuth: []
      summary: Get security group by ID
      tags:
      - Security groups
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location 'https://api.emma.ms/external/v1/security-groups/{securityGroupId}' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN'
    put:
      description: |
        This method updates a security group.

        A security group refers to a set of rules that determine what network traffic is allowed to enter or leave a particular compute instance. It acts as a virtual firewall, controlling inbound and outbound traffic based on predefined rules.

        Security groups operate based on predefined rules that allow traffic based on specified criteria, such as source IP address, destination IP address, port number, and protocol.

        When editing a security group, you can add and delete the inbound and outbound rules. You can only define rules that allow traffic, not deny it. All traffic is denied except for explicitly allowed traffic.

        Security groups control TCP, SCTP, GRE, ESP, AH, UDP, and ICMP protocols, or all the selected protocols at once.

        After creating a security group, a set of default rules is added to the security group. These rules are immutable, and you can't edit or delete them. When editing a security group, _you should provide the default rules along with any other rules._

        All traffic in the selected protocol is allowed if the IP range in a rule is set to `0.0.0.0/0`.
      operationId: SecurityGroupUpdate
      parameters:
      - description: ID of the security group
        explode: false
        in: path
        name: securityGroupId
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityGroupRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityGroup'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictError'
          description: Conflict
      security:
      - bearerAuth: []
      summary: Update security group
      tags:
      - Security groups
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location --request PUT 'https://api.emma.ms/external/v1/security-groups/{securityGroupId}' \
          --header 'Content-Type: application/json' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN' \
          --data '{
            "name": "new_default",
            "rules": [
              {
                "direction": "INBOUND",
                "protocol": "TCP",
                "ipRange": "1-30321",
                "ports": "0.0.0.0/0",
              }
            ]
          }'
  /v1/security-groups/{securityGroupId}/instances:
    get:
      description: |
        Returns a list of compute instances using the selected security group.

        A security group refers to a set of rules that determine what network traffic is allowed to enter or leave a particular compute instance. It acts as a virtual firewall, controlling inbound and outbound traffic based on predefined rules.

        Security groups operate based on predefined rules that allow traffic based on specified criteria, such as source IP address, destination IP address, port number, and protocol.
      operationId: SecurityGroupInstances
      parameters:
      - description: ID of the security group
        explode: false
        in: path
        name: securityGroupId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Vm'
                type: array
          description: Successful operation
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not found
      security:
      - bearerAuth: []
      summary: Get instances in security group
      tags:
      - Security groups
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location 'https://api.emma.ms/external/v1/security-groups/{securityGroupId}/instances' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN'
    post:
      description: |
        This method adds a compute instance to the selected security group.

        A security group refers to a set of rules that determine what network traffic is allowed to enter or leave a particular compute instance. It acts as a virtual firewall, controlling inbound and outbound traffic based on predefined rules.

        Security groups operate based on predefined rules that allow traffic based on specified criteria, such as source IP address, destination IP address, port number, and protocol.

        Any compute instance always uses some security group since its creation. Adding a compute instance to a security group effectively means moving it from one security group to another. When adding a compute instance to a new security group, it is automatically removed from the previous security group.
      operationId: SecurityGroupInstanceAdd
      parameters:
      - description: ID of the security group
        explode: false
        in: path
        name: securityGroupId
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityGroupInstanceAdd'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vm'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
          description: Unprocessable entity
      security:
      - bearerAuth: []
      summary: Add instance to security group
      tags:
      - Security groups
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location 'https://api.emma.ms/external/v1/security-groups/{securityGroupId}/instances' \
          --header 'Content-Type: application/json' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN' \
          --data '{
            "instanceId": "8003"
          }'
  /v1/spot-instances:
    get:
      description: "Returns a list of spot instances. \n\nA Spot Instance is a specialized\
        \ compute instance that allows you to access and utilize unused instance capacity\
        \ at a steeply discounted rate.  Spot price is charged on an hourly basis.\n\
        \nProviders support the following types of networks:\n- AWS - multi-cloud,\
        \ isolated, default\n- Azure - multi-cloud, isolated, default\n- GCP - multi-cloud,\
        \ isolated, default\n"
      operationId: GetSpots
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Vm'
                type: array
          description: Successful operation
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - Access is denied
      security:
      - bearerAuth: []
      summary: Get list of spot instances
      tags:
      - Spot instances
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location 'https://api.emma.ms/external/v1/spot-instances' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN'
    post:
      description: "This method creates a spot instance according to the specified\
        \ parameters.\n\nA Spot Instance is a specialized compute instance that allows\
        \ you to access and utilize unused instance capacity at a steeply discounted\
        \ rate. Spot price is charged on an hourly basis. \n\nTo create a spot instance,\
        \ follow these steps:\n\n1. Select a data center using the `/v1/data-centers`\
        \ endpoint. The data center determines the provider and location of the spot\
        \ instance.\n\n2. Select an available hardware configuration for the spot\
        \ instance using the `/v1/spots-configs` endpoint.\n\n3. Select an SSH key\
        \ for the Linux spot instance using the `/v1/ssh-keys` endpoint.\n\n4. Select\
        \ an operating system using the `/v1/operating-systems` endpoint.\n\n5. Choose\
        \ one of the cloud network types: _multi-cloud, isolated,_ or _default_. Choose\
        \ the _multi-cloud_ network type if you need to connect compute instances\
        \ from different providers.\n\nProviders support the following types of networks:\n\
        - AWS - multi-cloud, isolated, default\n- Azure - multi-cloud, isolated, default\n\
        - GCP - multi-cloud, isolated, default\n\nYou may choose not to specify a\
        \ security group. In this case, the spot instance will be added to the default\
        \ security group.\n\nA `price` field of a spot instance is not required. \n\
        \nThe spot instance market operates on a bidding system. Your specified price\
        \ acts as your bid in this market. If your bid is higher than the current\
        \ spot price, your instance request will likely be fulfilled. However, if\
        \ the market price exceeds your bid, your instance may not be launched or\
        \ could be terminated if already running.\n"
      operationId: SpotCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpotCreate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vm'
          description: Spot instance created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - Access is denied
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
          description: Unprocessable entity
      security:
      - bearerAuth: []
      summary: Create spot instance
      tags:
      - Spot instances
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location 'https://api.emma.ms/external/v1/spot-instances' \
          --header 'Content-Type: application/json' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN' \
          --data '{
            "name": "spot-default",
            "dataCenterId": "aws-us-west-1",
            "osId": "35",
            "cloudNetworkType": "multi-cloud",
            "vCpuType": "shared",
            "vCpu": "4",
            "ramGb": "1",
            "volumeType": "ssd",
            "volumeGb": "16",
            "sshKeyId": "124",
            "securityGroupId": "208",
            "price": "0.002635"
          }'
  /v1/spot-instances/{spotInstanceId}:
    delete:
      description: |
        This method deletes a spot instance.
      operationId: SpotDelete
      parameters:
      - description: ID of the spot instance
        explode: false
        in: path
        name: spotInstanceId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vm'
          description: Successful operation
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - Access is denied
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not found
      security:
      - bearerAuth: []
      summary: Delete spot instance
      tags:
      - Spot instances
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location --request DELETE 'https://api.emma.ms/external/v1/spot-instances/{spotInstanceId}' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN'
    get:
      description: |
        Returns a spot instance by its ID.

        A Spot Instance is a specialized compute instance that allows you to access and utilize unused instance capacity at a steeply discounted rate.  Spot price is charged on an hourly basis.
      operationId: GetSpot
      parameters:
      - description: ID of the spot instance
        explode: false
        in: path
        name: spotInstanceId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vm'
          description: Successful operation
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - Access is denied
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not found
      security:
      - bearerAuth: []
      summary: Get spot instance by ID
      tags:
      - Spot instances
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location 'https://api.emma.ms/external/v1/spot-instances/{spotInstanceId}' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN'
  /v1/spot-instances/{spotInstanceId}/actions:
    post:
      description: |
        This endpoint reboots a spot instance.
      operationId: SpotActions
      parameters:
      - description: ID of the spot instance
        explode: false
        in: path
        name: spotInstanceId
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpotActions_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vm'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - Access is denied
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not found
      security:
      - bearerAuth: []
      summary: Perform actions with a spot instance
      tags:
      - Spot instances
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location 'https://api.emma.ms/external/v1/spot-instances/{spotInstanceId}/actions' \
          --header 'Content-Type: application/json' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN' \
          --data '{
            "action": "reboot"
          }'
  /v1/ssh-keys:
    get:
      description: "Returns a list of the SSH keys for access to Linux compute instances.\
        \ You can use these keys to create compute instances. \n\nThe list only contains\
        \ the SSH keys created by the current Service application that you use to\
        \ send a request. \n\nYou can't retrieve a list of SSH keys created by other\
        \ users and applications.\n"
      operationId: SshKeys
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SshKey'
                type: array
          description: Successful operation
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
      security:
      - bearerAuth: []
      summary: Get list of SSH keys
      tags:
      - SSH keys
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location 'https://api.emma.ms/external/v1/ssh-keys' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN'
    post:
      description: |
        This method creates an SSH key that can be used for Linux compute instance creation. An SSH key can be created in two ways: generated by emma or imported by the user.

        If you want to **generate** a key, specify two fields: name and keyType (RSA or ED25519). The key will be generated, and you will receive a private key in the response. The private key will be shown only once, so copy and save it to connect to the Linux compute instances.

        If you want to **import** an existing SSH key, specify two fields: name and key. In the key field, insert your public SSH key as a string. It will be imported.
      operationId: SshKeysCreateImport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SshKeysCreateImport_request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SshKeysCreateImport_201_response'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - Access is denied
      security:
      - bearerAuth: []
      summary: Create or import SSH key
      tags:
      - SSH keys
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location 'https://api.emma.ms/external/v1/ssh-keys' \
          --header 'Content-Type: application/json' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN' \
          --data '{
            "name": "mykey",
            "keyType": "RSA"
          }'
  /v1/ssh-keys/{sshKeyId}:
    delete:
      description: |
        This method deletes a SSH key. You can only delete an SSH key created by the current Service application that you use to send a request. You can't delete SSH keys created by other users and applications.
      operationId: SshKeyDelete
      parameters:
      - description: SSH key ID
        explode: false
        in: path
        name: sshKeyId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: Successful operation
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not found
      security:
      - bearerAuth: []
      summary: Delete SSH keys
      tags:
      - SSH keys
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location --request DELETE 'https://api.emma.ms/external/v1/ssh-keys/{sshKeyId}' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN'
    get:
      description: |
        Returns an SSH key by ID for access to Linux compute instances. You can only retrieve the SSH keys created by the current Service application that you use to send a request. You can't retrieve SSH keys created by other users and applications.
      operationId: GetSshKey
      parameters:
      - description: SSH key ID
        explode: false
        in: path
        name: sshKeyId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SshKey'
          description: Successful operation
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not found
      security:
      - bearerAuth: []
      summary: Get SSH key by id
      tags:
      - SSH keys
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location 'https://api.emma.ms/external/v1/ssh-keys/{sshKeyId}' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN'
    put:
      description: |
        This method updates a name of an existing SSH-key. You can only update an SSH key created by the current Service application that you use to send a request. You can't update SSH keys created by other users and applications.
      operationId: SshKeyUpdate
      parameters:
      - description: SSH key ID
        explode: false
        in: path
        name: sshKeyId
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SshKeyUpdate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SshKey'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not found
      security:
      - bearerAuth: []
      summary: Update SSH keys
      tags:
      - SSH keys
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location --request PUT 'https://api.emma.ms/external/v1/ssh-keys/{sshKeyId}' \
          --header 'Content-Type: application/json' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN' \
          --data '{
            "name": "mykey"
          }'
  /v1/subnetworks:
    get:
      description: |
        Returns a list of subnetworks within the project.
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Subnetwork'
                type: array
          description: Successful operation
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - Access is denied
      security:
      - bearerAuth: []
      summary: Get list of subnetworks
      tags:
      - Subnetworks
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location --request 'https://api.emma.ms/external/v1/subnetworks' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN'
    post:
      description: |
        This method creates a subnetwork.
        To create a subnetwork, consider the following parameters:
        1. Select a data center using the `/v1/data-centers` endpoint. The data center determines the provider and location of the subnetwork.
        2. Specify the IP address range (optional). Subnetwork prefix values can have exceptions depending on that provider and must be in ranges: 10.0.0.0 - 10.255.255.255, 172.16.0.0 - 172.31.255.255, 192.168.0.0 - 192.168.255.255.

        Specific conditions are depending on the provider:
        - GCP: 2 first and 2 last addresses are reserved by the provider. Notice that VMs in different GCP subnetworks can be connected to each other.
        - Azure: 4 first and the last ones are reserved by the provider.
        - AWS: 3 first and the last one are reserved by the provider.

        3. Specify the network size (required). Network size must be: for DigitalOcean /28-/16, for Gcore /24-/16, for Azure /29 - /2, for AWS /28 - /16
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubnetworkCreate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subnetwork'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - Access is denied
      security:
      - bearerAuth: []
      summary: Create subnetwork
      tags:
      - Subnetworks
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location 'https://api.emma.ms/external/v1/subnetworks' \
          --header 'Content-Type: application/json' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR_BEARER_TOKEN' \
            --data '{
            "dataCenterId": "gcore-frankfurt",
            "subnetworkSize": "24",
            "name": "subnetworks-name",
            "subnetworkPrefix": "192.168.0.0"
          }'
  /v1/subnetworks/{subnetworkId}:
    delete:
      description: |
        This method deletes a subnetwork.
      parameters:
      - description: Subnetwork ID
        explode: false
        in: path
        name: subnetworkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subnetwork'
          description: Successful operation
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - Access is denied
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not found
      security:
      - bearerAuth: []
      summary: Delete subnetwork
      tags:
      - Subnetworks
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location --request DELETE 'https://api.emma.ms/external/v1/subnetworks/{subnetworkId}' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR_BEARER_TOKEN'
    get:
      description: |
        Returns a subnetwork by its ID.
      parameters:
      - description: Subnetwork ID
        explode: false
        in: path
        name: subnetworkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subnetwork'
          description: Successful operation
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - Access is denied
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not found
      security:
      - bearerAuth: []
      summary: Get subnetwork by ID
      tags:
      - Subnetworks
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location 'https://api.emma.ms/external/v1/subnetworks/{subnetworkId}' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR_BEARER_TOKEN'
    put:
      description: |
        This method updates a subnetwork. Only the subnetwork name can be updated.
      parameters:
      - description: Subnetwork ID
        explode: false
        in: path
        name: subnetworkId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubnetworkEdit'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subnetwork'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - Access is denied
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not found
      security:
      - bearerAuth: []
      summary: Update subnetwork
      tags:
      - Subnetworks
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location --request PUT 'https://api.emma.ms/external/v1/subnetworks/{subnetworkId}' \
          --header 'Content-Type: application/json' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR_BEARER_TOKEN'
          --data '{
            "name": "subnetwork-name"
          }'
  /v1/vms:
    get:
      description: |
        Returns a list of virtual machines within the project.

        Providers support the following types of networks:
        - AWS - multi-cloud, isolated, default
        - Azure - multi-cloud, isolated, default
        - DigitalOcean - default
        - GCP - multi-cloud, isolated, default
        - Gcore - default
      operationId: GetVms
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Vm'
                type: array
          description: Successful operation
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - Access is denied
      security:
      - bearerAuth: []
      summary: Get list of virtual machines
      tags:
      - Virtual machines
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location 'https://api.emma.ms/external/v1/vms' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN'
    post:
      description: |
        This method creates a virtual machine according to the specified parameters.

        To create a virtual machine, follow these steps:

        1. Select a data center using the `/v1/data-centers` endpoint. The data center determines the provider and location of the virtual machine.

        2. Select an available hardware configuration for the virtual machine using the `/v1/vms-configs` endpoint.

        3. Select an SSH key for the Linux virtual machine using the `/v1/ssh-keys` endpoint.

        4. Select an operating system using the `/v1/operating-systems` endpoint.

        5. Choose one of the cloud network types: _multi-cloud, isolated,_ or _default_. Choose the _multi-cloud_ network type if you need to connect compute instances from different providers.

        Providers support the following types of networks:
        - AWS - multi-cloud, isolated, default
        - Azure - multi-cloud, isolated, default
        - DigitalOcean - default
        - GCP - multi-cloud, isolated, default
        - Gcore - default

        You may choose not to specify a security group. In this case, the virtual machine will be added to the default security group.
      operationId: VmCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VmCreate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vm'
          description: Virtual machine created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - Access is denied
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityError'
          description: Unprocessable entity
      security:
      - bearerAuth: []
      summary: Create virtual machine
      tags:
      - Virtual machines
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location 'https://api.emma.ms/external/v1/vms' \
          --header 'Content-Type: application/json' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN' \
          --data '{
            "name": "vm-test1",
            "dataCenterId": "aws-us-west-1",
            "osId": 5,
            "cloudNetworkType": "multi-cloud",
            "vCpuType": "shared",
            "vCpu": 2,
            "ramGb": 1,
            "volumeType": "ssd",
            "volumeGb": 16,
            "sshKeyId": 124,
            "securityGroupId": 208,
            "password": "Hdjfru345djg!"
          }'
  /v1/vms/{vmId}:
    delete:
      description: |
        This method deletes a virtual machine.
      operationId: VmDelete
      parameters:
      - description: ID of the virtual machine
        explode: false
        in: path
        name: vmId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vm'
          description: Successful operation
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - Access is denied
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not found
      security:
      - bearerAuth: []
      summary: Delete virtual machine
      tags:
      - Virtual machines
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location --request DELETE 'https://api.emma.ms/external/v1/vms/{vmId}' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN'
    get:
      description: |
        This endpoint returns a virtual machine by ID.
      operationId: GetVm
      parameters:
      - description: ID of the virtual machine
        explode: false
        in: path
        name: vmId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vm'
          description: Successful operation
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - Access is denied
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not found
      security:
      - bearerAuth: []
      summary: Get virtual machine by id
      tags:
      - Virtual machines
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location 'https://api.emma.ms/external/v1/vms/{vmId}' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN'
  /v1/vms/{vmId}/actions:
    post:
      description: |
        This method performs several actions with a virtual machine:
          - Start a virtual machine
          - Shutdown a virtual machine
          - Reboot a virtual machine
          - Transfer a virtual machine
          - Clone a virtual machine
          - Edit compute resources of a virtual machine
          - Edit compute resources and system disk of a virtual machine (deprecated)
      operationId: VmActions
      parameters:
      - description: ID of the virtual machine
        explode: false
        in: path
        name: vmId
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VmActions_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vm'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
          description: Forbidden - Access is denied
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: Not found
      security:
      - bearerAuth: []
      summary: Perform actions with a virtual machine
      tags:
      - Virtual machines
      x-codeSamples:
      - lang: CURL
        label: CURL
        source: |-
          curl --location 'https://api.emma.ms/external/v1/vms/{vmId}/actions' \
          --header 'Content-Type: application/json' \
          --header 'Accept: application/json' \
          --header 'Authorization: Bearer YOUR-BEARER-TOKEN' \
          --data '{
            "action": "start"
          }'
  /v1/vms-configs:
    get:
      description: |
        When creating virtual machines you need to provide the desired hardware configurations. These configurations include CPU, CPU type, RAM, volume size, and volume type. Different cloud providers offer various configurations in different data centers. Therefore, before creating any compute instance, you need to verify the available configurations.

        Use this endpoint as a reference for available configurations for virtual machines. You can search the available configurations by different parameters (provider, location, data center, cloud network type, CPU, CPU type, RAM, volume size, volume type, and price).

        When you find an appropriate configuration, provide the hardware parameters in the endpoint for creating or editing a virtual machine.
      operationId: GetVmConfigs
      parameters:
      - description: ID of the cloud provider
        explode: true
        in: query
        name: providerId
        required: false
        schema:
          example: 5
          type: integer
        style: form
      - description: ID of the geographic location
        explode: true
        in: query
        name: locationId
        required: false
        schema:
          example: 6
          type: integer
        style: form
      - description: ID of the cloud provider's data center
        explode: true
        in: query
        name: dataCenterId
        required: false
        schema:
          example: aws-us-west-1
          type: string
        style: form
      - description: Type of cloud network
        explode: true
        in: query
        name: cloudNetworkType
        required: false
        schema:
          enum:
          - isolated
          - multi-cloud
          - default
          example: multi-cloud
          type: string
        style: form
      - description: Type of vCPUs for the compute instance
        explode: true
        in: query
        name: vCpuType
        required: false
        schema:
          enum:
          - shared
          - standard
          - hpc
          example: Standard
          type: string
        style: form
      - description: virtual Central Processing Units (vCPUs) for the compute instance
        explode: true
        in: query
        name: vCpu
        required: false
        schema:
          example: 4
          type: integer
        style: form
      - description: Minimum number of vCPUs for the compute instance
        explode: true
        in: query
        name: vCpuMin
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: Maximum number of vCPUs for the compute instance
        explode: true
        in: query
        name: vCpuMax
        required: false
        schema:
          example: 8
          type: integer
        style: form
      - description: RAM of the compute instance in gigabytes
        explode: true
        in: query
        name: ramGb
        required: false
        schema:
          example: 16
          type: integer
        style: form
      - description: Minimum RAM of the compute instance in gigabytes
        explode: true
        in: query
[...]
